accelerate
av
certifi
charset-normalizer
datasets
dotenv
filelock
fsspec
hf-xet
huggingface-hub
idna
Jinja2
MarkupSafe
mpmath
networkx
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
pillow
psutil
python-dateutil
python-dotenv
pytz
PyYAML
qwen-vl-utils
regex
requests
safetensors
six
sympy
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typing_extensions
tzdata
urllib3
