aiohappyeyeballs
aiohttp
aiosignal
annotated-types
async-timeout
attrs
boto3
botocore
braceexpand
certifi
charset-normalizer
cpm-kernels
datasets
deepspeed
dill
dotenv
einops
filelock
frozenlist
fsspec
hf-xet
hjson
huggingface-hub
idna
Jinja2
jmespath
MarkupSafe
mpmath
msgpack
multidict
multiprocess
networkx
ninja
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-ml-py
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
packaging
pandas
pillow
propcache
protobuf
psutil
py-cpuinfo
pyarrow
pydantic
pydantic_core
python-dateutil
python-dotenv
pytz
PyYAML
regex
requests
s3transfer
safetensors
sentencepiece
six==1.17.0
SwissArmyTransformer==0.3.6
sympy
tensorboardX
tokenizers
torch
torchaudio
torchvision
tqdm
transformers==4.33.2
triton
typing-inspection
typing_extensions
tzdata
urllib3
webdataset
xxhash
yarl
